<div class="chat-container">
    <div class="chat-messages" #messagesContainer>
        @for (message of messages(); track message.id) {
        <div class="chat-message" [class]="{ 'user': message.role === ROLE.User , 'ai': message.role === ROLE.AI}">
            <div class="message-content">
                @if(message.role === ROLE.AI) {
                <div class="ai-response" [innerHTML]="message.message"></div>
                }
                @if(message.schemes?.length) {
                <div class="schemes-list schemes-row">
                    @for (scheme of message.schemes; track $index) {
                    <div class="scheme-card">
                        <div class="scheme-title">{{ scheme.name }}</div>
                        <div class="scheme-reason">{{ scheme.reason }}</div>
                        <a class="scheme-link" [href]="scheme.link" target="_blank">View Details</a>
                    </div>
                    }
                </div>
                }

                @if(!message.schemes?.length && message.role === ROLE.User) {
                <span [innerHTML]="formatUserMessage(message.message)"></span>
                }
            </div>
        </div>
        }
        @if(loading) {
        <div class="chat-message ai loading">
            <div class="message-content">
                Yojana AI is thinking
                <span class="dot-anim">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </span>
            </div>
        </div>
        }
    </div>
    <form class="chat-input" (ngSubmit)="sendMessage()">
        <textarea [(ngModel)]="userInput" name="userInput" required placeholder="Type your query..." autocomplete="off"
            rows="2"></textarea>
        <button type="submit" [disabled]="loading || !userInput().trim()">&#x23CE;</button>
    </form>
</div>